@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome.</h1>

<h2>Authorization:</h2>
<div>
    <a href="https://oauth.vk.com/authorize?client_id=5671241&display=page&redirect_uri=http://localhost:56230/VkAuthorization&scope=friends&response_type=code&v=5.59">
        <img src="https://avatanplus.com/files/resources/small/57d993e5eb5e515729e9ba4c.png" width="64" height="64">
    </a>
</div>

<h2>Getting data:</h2>
<div>
    <a href="VkData">
        <img src="https://avatanplus.com/files/resources/small/57d993e5eb5e515729e9ba4c.png" width="64" height="64">
    </a>

</div>