@using WebApp.Models;
@model UserInfo
@{
    ViewData["Title"] = "User info page";
}

<h1>Authorization completed!</h1>
<h3>User info:</h3>

<table class="table table-sm table-bordered table-hover">
    <tr>
        <td>Id</td>
        <td>@Model.Id</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <td>Surname</td>
        <td>@Model.Surname</td>
    </tr>
    <tr>
        <td>Sex</td>
        <td>@Model.Sex</td>
    </tr>
</table>
