@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome</h1>

<div>
    <form action="/home/vkauth" method="get">
        <input type="submit" value="Authorizate via Vk"
               name="VkAuth" id="frm1_VkAuth" />
    </form>
</div>