@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome.</h1>
<h2>Please, authorizate.</h2>

<div>
    <form action="/VkAuthorization" method="get">
        <button>
            <img src="https://avatanplus.com/files/resources/small/57d993e5eb5e515729e9ba4c.png" width="64" height="64"/>
        </button>
    </form>
</div>